/* .login{
	width: 380px;
	overflow:hidden; /*dont show text oveflowing area
	margin: auto;
	margin-top: 100px;
	padding:60px;
	padding-top:30px;
	background-color: #bbe1fa;
	border-radius:15px; /*round corners
}

.signup{
	width: 380px;
	overflow:hidden; /*dont show text oveflowing area
	margin: auto;
	margin-top: 100px;
	padding:30px;
	padding-top:30px;
	background-color: #bbe1fa;
	border-radius:15px; /*round corners
}

.contactUs{
	width: 380px;
	overflow:hidden; /*dont show text oveflowing area
	margin: auto;
	margin-top: 100px;
	padding:30px;
	padding-top:30px;
	background-color: #bbe1fa;
	border-radius:15px; /*round corners
}

h1{
	text-align:center
}

h3{
	padding-bottom: 5px;
    margin-block-end: 0;
}

#forgot{
	padding-left:235px;
	text-decoration:none;
}

body{
	
	background-image: url("assets/background.png");
	background-size:cover;
	background-repeat:no-repeat;
	font-family: 'Arial';
}

#user{
	width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
	padding-left: 8px;
	margin-bottom: 5px;
	font-style: italic;
}

#name{
	width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
	padding-left: 8px;
	margin-bottom: 5px;
	font-style: italic;
}

#concerning{
	width: 360px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
	padding-left: 8px;
	margin-bottom: 5px;
}

#contactSubject{
	width: 350px;  
    height: 100px;  
    border: none;  
    border-radius: 3px;  
	padding-left: 8px;
	margin-bottom: 5px;
}

#password{
	width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
	padding-left: 8px;
	margin-bottom: 5px;
	font-style: italic;
}

#confirmation{
	width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}

#loginButton{
	position:relative;
	display: block;
	width: 200px;  
    height: 36px;  
    border-radius: 18px;  
    background-color: #1c89ff;
	border: solid 1px transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	transition: all .1s ease-in-out;  
	left:25%;
	right:25%;
	
}

#signUpButton{
	position:left;
	display: block;
	width: 200px;  
    height: 36px;  
    border-radius: 18px;  
    background-color: #1c89ff;
	border: solid 1px transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	transition: all .1s ease-in-out;  
	left:25%;
	right:25%;
	margin-top: 10px;
}

#contactSubmitButton{
	display: block;
	width: 150px;  
    height: 36px;  
    border-radius: 18px;  
    background-color: #1c89ff;
	border: solid 1px transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	transition: all .1s ease-in-out;  
	left:25%;
	right:25%;
	margin-top: 10px;
	display: inline-block;
}

#contactSupportButton{
	display: block;
	width: 150px;  
    height: 36px;  
    border-radius: 18px;  
    background-color: #1c89ff;
	border: solid 1px transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	transition: all .1s ease-in-out;  
	left:25%;
	right:25%;
	margin-top: 10px;
	margin-left: 60px;
	display: inline-block;
}

#needAccount{
	text-align: center;
	color: #A9A9A9;
}

#haveAccount{
	text-align: left;
	color: #A9A9A9;
}

#signUp{
	text-decoration:none;
}

#signIn{
	text-decoration:none;
} */

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 340px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.card-footer{
	padding: 0;
}

.signUp_card{
	height: 380px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}

.contactUs_card{
height: 440px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
margin-top: 20px;
}

.signUp_btn{
color: black;
background-color: #FFC312;
width: 200px;
margin-top: 20px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}